/*** Works on common browsers ***/
::selection {
	background-color: #53c2c4;	
}

/*** Mozilla based browsers ***/
::-moz-selection {
	background-color: #53c2c4;
}
  
/***For Other Browsers ***/
::-o-selection {
	background-color: #53c2c4;	
}
 
::-ms-selection {
	background-color: #53c2c4;	
}
   
/*** For Webkit ***/
::-webkit-selection {
	background-color: #53c2c4;
}


a.navbar-brand {
	background-image: url("images/dohmh_logo.png");
	background-size: cover;
	width: 109px;
	height: 70px;
	margin-top: -28px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-dohmh {
	background-color: black;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: red;
}

.navbar-default .navbar-nav>li>a:focus {
	color: white;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-epht {
	background-color: beige;
	border-radius: 0px;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.btn {
	border-radius: 0px !important;
	transition: linear, ease-in 0.3s !important;
}

.btn:focus {
	color: white !important;
}

.btn-default {
	color: black !important;
	background: transparent !important;
	border-color: white !important;
	padding: 2% !important;
}

.btn-default:hover {
	color: white !important;
	background: black !important;
	border-color: black !important;
}

/*.btn-primary {
	color: red !important;
	background-color: transparent !important;
	border-color: red !important;
	padding: 2% !important;
	transition: linear, ease-in 0.3s !important;
}

.btn-primary:hover {
	color: white !important;
	background-color: red !important;
	border-color: red !important;
}*/


/*.btn-group>.btn:first-child {
	background-color: transparent !important;
	border: none !important;
	color: #777 !important;
	padding: 0 !important;
}*/

.btn-default:focus {
	outline: none !important;
	text-decoration: none !important;
	color: white !important;
}

.btn-default a {
	color: black !important;
}

.btn-default a:focus {
	color: red !important;
}










